/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** VARS **/
.hover {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
}
.active {
  font-weight: 700;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
/** MAIN STYLES **/
@font-face {
  font-family: Vijaya;
  src: url('../Vijaya.ttf');
}
/*
div, section, header, nav, footer, span, ul {
    outline: 1px solid blue;   
}
*/
a {
  color: #000;
  text-decoration: none;
}
header,
nav,
#main,
footer {
  width: 845px;
  margin: 0 auto;
}
body {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  font-size: 16px;
}
body #wrapper {
  background: url('../img/bg.jpg') no-repeat center center;
  min-height: 850px;
}
body #wrapper header {
  background: url('../img/logo.png') #f7f7f7 no-repeat 100px center;
  height: 200px;
  box-shadow: inset  0px 0px 200px #ddd, 2px 2px 10px #555;
}
body #wrapper header:before,
body #wrapper header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
body #wrapper header:after {
  clear: both;
}
body #wrapper header a {
  display: block;
  float: left;
  width: 420.5px;
  height: 100%;
}
body #wrapper header .contact {
  float: right;
  border-left: 1px solid #ececec;
  width: 422.5px;
  height: auto;
  outline: none;
  text-align: center;
  margin-top: 40px;
  font-family: Vijaya;
  font-size: 1.75em;
  color: #434343;
}
body #wrapper header .contact p {
  padding: 3px;
}
body #wrapper nav {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  height: 50px;
  background-color: #e4e4e4;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px #555;
}
body #wrapper nav ul {
  text-align: center;
}
body #wrapper nav ul li {
  display: inline-block;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
body #wrapper nav ul li a {
  color: #5d5d5d;
  transition: all 0.3s;
}
body #wrapper nav ul li a:hover {
  color: #a09622;
}
body #wrapper #main {
  min-height: 425px;
  width: 845px;
}
body #wrapper #main:before,
body #wrapper #main:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
body #wrapper #main:after {
  clear: both;
}
body #wrapper #main .content {
  width: 500px;
  height: 425px;
  background-color: #f7f7f7;
  float: left;
  position: relative;
  box-shadow: 2px 2px 10px #555;
}
body #wrapper #main .content .slogan {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  padding: 10px 0;
  background-color: rgba(102, 102, 102, 0.75);
  color: #c1c04d;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  z-index: 10;
}
body #wrapper #main .info {
  width: 320px;
  height: 190px;
  float: right;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 10px #555;
}
body #wrapper #main .info.about h2 {
  font-size: 1.25em;
  font-weight: 700;
  padding: 5px;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align: center;
}
body #wrapper #main .info.about p {
  font-family: Vijaya;
  padding: 5px 10px;
  text-align: justify;
}
body #wrapper #main .info.about p:last-child {
  padding-top: 0;
  text-align: right;
}
body #wrapper #main .info.about p span {
  text-decoration: underline;
}
body #wrapper #main .info.map {
  height: 220px;
  margin-top: 15px;
  text-align: center;
  background: url('../img/map.png') #f7f7f7 no-repeat center -30px;
  background-size: 246px 335px;
  position: relative;
}
body #wrapper #main .info.map .city {
  position: absolute;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
}
body #wrapper #main .info.map .city:hover {
  text-decoration: underline;
}
body #wrapper #main .info.map .current {
  text-align: center;
  text-transform: uppercase;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 20px;
  color: #5d5d5d;
  display: inline-block;
  font-size: 3em;
  padding: 80px 0px;
  margin-left: 10px;
  position: relative;
}
body #wrapper #main .info.map #slask {
  display: none;
}
body #wrapper #main .info.map #katowice {
  top: 110px;
  left: 140px;
}
body #wrapper #main .info.map #gliwice {
  top: 95px;
  left: 90px;
}
body #wrapper #main .info.map #zabrze {
  top: 80px;
  left: 112px;
}
body #wrapper #main .info.map #bytom {
  top: 45px;
  left: 130px;
}
body #wrapper #main .info.map #chorzow {
  top: 58px;
  left: 170px;
}
body #wrapper #main .info.map #ruda {
  top: 75px;
  left: 160px;
}
body #wrapper #main .info.map #bedzin {
  top: 93px;
  left: 177px;
}
body #wrapper #main .info.map #sosnowiec {
  top: 104px;
  left: 200px;
}
body #wrapper #main .info.map #tarnowskie {
  top: 10px;
  left: 55px;
}
body #wrapper #main .info.map #piekary {
  top: 25px;
  left: 110px;
}
body #wrapper #main .info.map #rybnik {
  top: 165px;
  left: 50px;
}
body #wrapper #main .info.map #zory {
  top: 170px;
  left: 95px;
}
body #wrapper #main .info.map #knurow {
  top: 125px;
  left: 80px;
}
body #wrapper #main .info.map #tychy {
  top: 165px;
  left: 170px;
}
body #wrapper #main .info.map #dabrowa {
  top: 40px;
  left: 215px;
}
body #wrapper #main .info.map #myslowice {
  top: 140px;
  left: 160px;
}
body #wrapper #main .info.map #jaworzno {
  top: 125px;
  left: 187px;
}
body #wrapper #main .info.map #mikolow {
  top: 150px;
  left: 110px;
}
body #wrapper #main .info.map #pyskowice {
  display: none;
}
body #wrapper #main .info.map img {
  max-width: 100%;
  max-height: 100%;
}
body #wrapper footer {
  min-height: 120px;
  width: 845px;
  margin-top: 25px;
  background-color: #f7f7f7;
  text-align: center;
  box-shadow: inset 0px 0px 200px #ddd, 2px 2px 10px #555;
}
body #wrapper footer ul {
  padding-top: 20px;
}
body #wrapper footer ul li {
  display: inline-block;
  padding: 5px 2px;
  margin: 0 10px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  border-bottom: 1px solid transparent;
  transition: border .3s;
}
body #wrapper footer ul li:hover {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
}
body #wrapper footer .autor {
  text-align: center;
  visibility: hidden;
}
/** == SZAFY == **/
#main .szafy {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align: justify;
  overflow-y: auto;
}
#main .szafy p,
#main .szafy h5 {
  padding: 5px;
}
#main .gallery {
  width: 320px;
  height: 425px;
  float: right;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 10px #555;
  text-align: center;
}
#main .gallery a {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: #ccc;
  overflow: hidden;
  margin: 5px;
  position: relative;
}
#main .gallery a:before {
  content: '';
  display: block;
  background-color: transparent;
  color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 0.8em;
  transition: all .5s;
}
#main .gallery a:hover:before {
  content: 'powiększ';
  background-color: rgba(50, 50, 50, 0.8);
  color: #c1c04d;
  padding-top: 30px;
}
#main .gallery a .landscape {
  max-height: 100%;
  width: auto;
}
#main .gallery a .portrait {
  max-width: 100%;
  height: auto;
}
