@import 'reset.less';

/** VARS **/
@main-width: 845px;
@calibri: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

/** MAIN STYLES **/

@font-face {
    font-family: Vijaya;
    src: url(Vijaya.ttf);
}

div, section, header, nav, footer, span, ul {
    outline: 1px solid blue;   
}

a {
    color: #000;
    text-decoration: none;
}

header, nav, #main, footer {
    width: @main-width;
    margin: 0 auto;
}

body {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    font-size: 16px;
    
    #wrapper {
        background: url('../img/bg.jpg') no-repeat center center;
        min-height: 850px;
        
        header {
            background: url('../img/logo.png') #f7f7f7 no-repeat 100px center;
            height: 200px;
            box-shadow: inset  0px 0px 200px #ddd;
            
            .contact {
                float: right;
                border-left: 1px solid #ececec;
                width: (@main-width / 2);
                height: auto;
                outline: none;
                text-align: center;
                margin-top: 40px;
                font-family: Vijaya;
                font-size: 1.75em;
                color: #434343;
                
                p {
                    padding: 3px;  
                }
            }
        }
        nav {
            font-family: @calibri;
            font-weight: 700;
            height: 50px;
            background-color: #e4e4e4;
            margin-top: 20px;
            margin-bottom: 20px;
            
            ul {
                text-align: center; 
                
                li {
                    display: inline-block;
                    text-transform: uppercase;
                    height: 50px;
                    line-height: 50px;
                    margin-right: 100px;
                    margin-left: 100px;
                
                    a {
                        color: #5d5d5d;
                        transition: all 0.3s;
                        
                        &:hover {
                           color: #a09622; 
                        }
                    }
                }
            }
        }
        
        #main {
            min-height: 425px;
            width: 845px;
            
            .content {
                width: 500px;
                height: 425px;
                background-color: #f7f7f7;
                float: left;
                position: relative;
                
                .slogan {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: inherit;
                    padding: 10px 0;
                    background-color: #666;
                    color: #fff;
                    opacity: 0.5;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: @calibri;
                }
            }
            
            .info {
                width: 320px;
                height: 190px;
                float: right;
                background-color: #f7f7f7;
            
                &.info2 {
                    height: 220px;
                    margin-top: 15px;
                    text-align: center;
                    
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
        
        footer {
            min-height: 120px;
            width: @main-width;
            margin-top: 25px;
            background-color: #f7f7f7;
        }
    }
}

