.footer__cities
  h5.footer__cities__header
    | Znajdź nas w swoim mieście
  ul.footer__cities__list

.footer__brands

.footer__copyrights
  p.
    Git Meble na wymiar 2014-2016. Website created by #[a(href="http://upco.re") UpCore].