//- if (path == "Homepage")
//-   h1.
//-     To jest content z includowanego pliku, z przekazaną zmienną -- #{path}


//- Page header

.header__info
  .container-fluid.text-center
    ul.info__list.list-inline
      li.info__phone
        | 533 880 880
