//- if (path == "Homepage")
//-   h1.
//-     To jest content z includowanego pliku, z przekazaną zmienną -- #{path}


//- Page header

//- Header Top Bar
.header__info
  .container-fluid.text-center
    ul.info__list.list-inline
      li.info__item.phone
        a(href="tel:533880880" title="Telefon") 533 880 880
      li.info__item.mail
        a(href="mailto:kontakt@gitmeble.pl" title="E-mail") kontakt@gitmeble.pl
      li.info__item.fb
        a(href="https://www.facebook.com/gitmeble/" title="Fanpage" target="_blank") facebook

//- Header Banner
.header__banner
  a.banner__logo(href="/" title="GitMeble logo")
    img.banner__logo__img(src="http://placehold.it/100x100")

//- Header Main Nav
.header__nav
  .container-fluid.text-center
    - 
      //Define nav menu
      var navItems = { 
        kuchnie: "Kuchnie na wymiar", 
        szafy: "Szafy na wymiar", 
        indeco: "Indeco" 
      }

    .ul.nav__list.list-inline
      each value, index in navItems
        li.nav__item
          a(href="/" + index + ".html")= value
