//- if (path == "Homepage")
//-   h1.
//-     To jest content z includowanego pliku, z przekazaną zmienną -- #{path}


//- Page header

.header__info
  .container-fluid.text-center
    ul.info__list.list-inline
      li.info__item.phone
        a(href="tel:533880880" title="Telefon") 533 880 880
      li.info__item.mail
        a(href="mailto:kontakt@gitmeble.pl" title="E-mail") kontakt@gitmeble.pl
      li.info__item.fb
        a(href="https://www.facebook.com/gitmeble/" title="Fanpage" target="_blank") facebook
.header__banner
.header__nav
