//- Page indeco-rybnik.pug
extends ../layout

block vars
  - var title = "Meble na wymiar"
  - var pageTitle = "Indeco Rybnik"
  - var pageDesc = "Opis strony Indeco Rybnik"

block append header
  - locals.path= pageTitle;
  include ../includes/header

block append content
  .main__content.city-indeco
    .row
      .col-sm-8
        .main__header.text-center
          h2
            | Indeco Rybnik
        .main__copy.text-center
          p.
            Klienci z Rybnika oraz okolic, którzy wybrali firmę Git-Meble mogą skorzystać również z usług jej partnera – marki Indeco,
            która oferuje różnorodne szafy z zastosowaniem rozwiązania przesuwnych drzwi systemowych.
            Proponujemy Państwu szeroki wybór profili, systemów oraz wypełnień.
            Jesteśmy otwarci na wszelkie sugestie i indywidualne upodobania, aby wspólnie z Państwem wykonać projekt perfekcyjnej i unikalnej szafy.
            Ten typ mebli jest niezbędny niemal w każdym pomieszczeniu, a dzięki swojej niezwykłej funkcjonalności znacznie ułatwia nam przechowywanie wszystkich niezbędnych rzeczy.
            Specjalne drzwi czynią ją jeszcze bardziej wygodną w użytkowaniu, nawet w przypadku małych i wąskich pokojów czy kuchni.
            Wiemy również, że dla klientów ważny jest stylowy wygląd i dostosowanie szafy do aranżacji wnętrza.
            Stawiamy na najwyższą jakość, profesjonalne wykonanie i najlepsze materiały, a tym samym gwarantujemy,
            że zadowolimy nawet najbardziej wymagające osoby i zagospodarujemy każdą przestrzeń naszymi meblami.
        include  ../components/appointment
      .col-sm-4
        include ../components/laurels

block footer
  include ../includes/footer


