/*******
##### MAIN
**************/

.main {
  background-image: url(../img/bg-wood.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.main__content {
  background-color: $bg-gray;
  padding: 20px;
  margin: 50px 0;
  box-shadow: 0 5px 20px $black;
  p {
    margin-bottom: 20px;
  }
}

.main__header {
  h2 {
    font-size: 1.2rem;
    font-family: 'Tahoma-Regular', sans-serif;
    font-weight: $normal;
    margin: 10px 0 20px;
  }
}

.main__copy {
  .placeholder {
    font-size: 1.2rem;
  }
}

.main__images--laurel {
  max-width: 180px;
  margin: 0 auto;
  img {
    margin: 20px 0;
  }
}

.main__address {
  h2, h3, h4 {
    margin: 15px 0;
  }
  p {
    font-size: .93rem;
  }
}

.main__footer {
  &.img-centered {
    img {
      margin: 15px auto;
    }
  }
}

@media screen and ( min-width: 1200px ) {
  .main__header {
    h2 {
      margin: 15px 0 40px;
    }
  }
  .main__content {
    p {
      margin-bottom: 30px;
    }
  }
}