.appointment {
  strong {
    display: block;
    padding: 15px 0;
  }

  > p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  span {
    display: inline-block;
  }
}