.appointment.text-center
  strong.
    Umów się na pomiar i wycenę
  p
    span
      | tel:
      a(href="tel:533880880")  533-880-880
    span
      | email:
      a(href="mailto:kontakt@gitmeble.pl")  kontakt@gitmeble.pl