//- Page index.pug
extends ../layout

block vars
  - var title = "Meble na wymiar"
  - var pageTitle = "Homepage"
  - var pageDesc = "Opis strony głównej"

block append header
  - locals.path= pageTitle;
  include ../includes/header
  



block append content
  .main__content.about
    h2.main__header.text-uppercase
      | O Nas
      
block footer
  include ../includes/footer
