


//- include values from external JSON
- var values = (require('../../data/cities.json'));
ul
  each val, key in values
    li= values[key].name
      a(href="http://google.pl")  LINK
    
    //--- END of including data;